body{
    margin: 0;
    height: 100%;
}
header h1 {
    
    width: 100%;
    height: 14.3%;
    background-color: #323443;
    margin: 0;
}
html{
    height: 100%;
}

main h1 {
    font-family: Nunito;
    color:  #292929;
    font-size: 22.5px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
    margin: 0;
    
}
main{
    display: inline-block;
    width: 82%;
    height: 85.7%;
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 18%;
    bottom: 0;
    right: 0;
}
main h1 div{
    position:absolute;
    right:0%;
    top:0%;
    font-family: Nunito;
    color:  #292929;
    font-size: 22.5px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
    margin: 0;
}
header{
    display: inline-block;
    position: absolute;
    width: 100%;
}
nav {
    position:absolute;
    height: 85.7%;
    bottom: 0;
    min-width: 18%;
    max-width: 18%;
    min-height: 85.7%;
    max-height: 85.7%;
    min-block-size: 85.7%;
    background-color: #61d391;
    margin: 0;
    display: inline-block;
   
}
form{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.Growable {
	position: relative;
	border: 1px solid;
	max-height: 300px;
	overflow: hidden;
    -webkit-scrollbar: red;
    
}

.Growable textarea,
.Growable pre {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 0.5em;
}

.Growable textarea {
	width: 100%;
	resize: none;
	border: none;
	
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	overflow: visible;
}

